:root {
  --vk-color-primary: #a78bfa;
  --vk-color-primary-light-3: #c4b5fd;
  --vk-color-primary-light-5: #ddd6fe;
  --vk-color-primary-light-7: #ede9fe;
  --vk-color-primary-light-8: #f3efff;
  --vk-color-primary-light-9: #f8f5ff;
  --vk-color-primary-dark-2: #8b5cf6;

  --vp-c-brand: var(--vk-color-primary);
  --vp-c-brand-1: #8b5cf6;
  --vp-c-brand-2: #a78bfa;
  --vp-c-brand-3: #c4b5fd;
  --vp-c-brand-soft: rgba(167, 139, 250, 0.16);
  --vp-c-brand-light: #c4b5fd;
  --vp-c-brand-lighter: #ddd6fe;
  --vp-c-brand-dark: #8b5cf6;
  --vp-c-brand-darker: #7c3aed;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);

  --vp-code-block-bg: #0d1117;
  --vp-code-block-divider-color: #30363d;
  --vp-code-lang-color: rgba(255, 255, 255, 0.56);
  --vp-code-line-highlight-color: rgba(110, 118, 129, 0.28);
  --vp-code-line-number-color: rgba(255, 255, 255, 0.36);
  --vp-code-line-diff-add-color: rgba(46, 160, 67, 0.24);
  --vp-code-line-diff-add-symbol-color: #56d364;
  --vp-code-line-diff-remove-color: rgba(248, 81, 73, 0.24);
  --vp-code-line-diff-remove-symbol-color: #ff7b72;
}

/* .vitepress/theme/custom.css */

/* 移除 FontAwesome 图标的默认间距 */
.fa,
.fas,
.far,
.fal,
.fab,
.fa-solid,
.fa-regular,
.fa-light,
.fa-thin,
.fa-duotone {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* 或者针对特定情况 */
.icon {
  margin-right: 0 !important;
}

/* 如果图标是行内元素，设置为 inline-flex 来更好地控制间距 */
i[class^='fa-'],
i[class*=' fa-'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0 !important;
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}
